:root{
  --light-gold: #fcf1db;
  --gold: #ebd377;
  --dark-gold: #d3ad69;
  --gray: #222;
  --brown: #1f1b1c;

  --font: 'Philosopher', sans-serif;
  --font-regular: 400;
  --font-bold: 700;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;

  font-family: var(--font);
  font-weight: var(--font-regular);
}

.App {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
}

.top{
  top: 0;
  height: 5vh;
  background-color: var(--brown);
  color: var(--gold);
  padding: 0px 50px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-size: 1rem;
}
#contacts > a, #socials > a{
  font-style: none;
  text-decoration: none;
  color: var(--gold);

  transition: 0.2s linear;
}
#contacts >a:hover{
  text-shadow: 0 0 5px var(--light-gold);
}
#phone{
  margin-left: 10px;
}
#phone:hover{
  text-shadow: 0 0 5px var(--light-gold);
}
#socials{
  margin-left: auto;
}
#fb-top{
  font-size: 1.5rem;
}
#fb-top:hover{
  color:#4267B2;
}
nav{
  background-color: var(--dark-gold);
  
  display: grid;
  grid-template-columns: auto auto auto auto;
  
}
.tina-logo{
  grid-column: 1 / span 1;

  max-width: 150px;
  position: absolute;
  left: 5vw;
  top: 8vh;
}
.top-menu{
  grid-column: 2 / span 3;

  list-style: none;
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  font-size: 1.5rem;
  font-family: var(--font);

  height: auto;
}
.top-menu > li > a{
  text-decoration: none;
  color: var(--brown);
  padding-bottom: 5px;

  transition: 0.2s linear;
}
.top-menu > li > a:hover{
  border-bottom: 1px solid var(--brown);
  text-shadow: 0 0 5px var(--brown);
}

.banner{
  display: flex;
  justify-content: center;
  
  height: 85vh;
  margin: 0;

  background-image: url(./images/banners/banner_black.png);
  background-repeat: no-repeat;
  background-color: var(--brown);
  background-position: center;
  background-size: cover;
}
.banner > h1{
  align-self: center;
  position: absolute;

  margin-bottom: 10vh;

  font-size: 3rem;
  
  color: var(--gold);
  text-shadow: 0 0 5px var(--gold);
}
.banner > h2{
  align-self: flex-end;

  background-color: var(--brown);

  font-size: 1.5rem;

  padding: 20px;
  
  color: var(--light-gold);
  text-shadow: 0 0 5px var(--brown);

  border-right: 1px solid var(--light-gold);
}
.banner > h3{
  align-self: flex-end;

  background-color: var(--brown);

  font-size: 1.5rem;

  padding: 20px;
  
  color: var(--light-gold);
  text-shadow: 0 0 5px var(--brown);
}
.become-agent{
  height: 15vh;
  background-color: var(--dark-gold);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;

  cursor: pointer;

  transition: .2s linear;
}

.become-agent:hover{
  text-shadow: 0 0 5px var(--brown);
  color: var(--dark-gold);
}

.featured{
  height: auto;
  padding: 100px;
  background-color: var(--light-gold);
  border-top: 5px solid var(--gold);

  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  box-shadow: 0 0 15px var(--brown);
}
.f-img{
  max-height: 400px;
}
.f-info{
  box-shadow: 0 0 50px var(--brown);
  text-align: center;
  background-color: #fefefe;

  margin-bottom: 20px;
  font-family: var(--font);
}
.info{
  padding: 30px 0px;
}
.info > p{
  margin-bottom: 50px;
}
.f-more-btn{
  margin-bottom: 50px;
  padding: 15px 30px;
  background-color: var(--brown);
  color: var(--light-gold);

  text-decoration: none;
  
  transition: 0.3s linear;
}
.f-more-btn:hover{
  color: var(--dark-gold);
  box-shadow: 0 0 5px var(--brown);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
